@import "src/assets/styles/variables";

.card-container {
  position: relative;
  width: 600px;
  margin: 20px auto;
  padding: 35px;
  border-color: $blue;
  border-width: 6px;
  border-top-style: dashed;
  border-right-style: dashed;
  border-left-style: solid;
  border-bottom-style: solid;
  color: $blue;
  font-size: 22px;
  .top-quote-icon,
  .bottom-quote-icon {
    position: absolute;
    font-size: 55px;
    color: $mainColorLight;
    width: 55px;
    height: 55px;
    mat-icon {
      font-size: 55px;
      width: 55px;
      height: 55px;
    }
  }
  .top-quote-icon {
    top: -25px;
    left: -25px;
    mat-icon {
      transform: rotate(180deg)
    }
  }
  .bottom-quote-icon {
    bottom: -25px;
    right: -25px;
  }
  //mat-icon {
  //
  //
  //  &.top-quote-icon {
  //    top: -5px;
  //    left: 0;
  //    transform: rotate(180deg)
  //  }
  //  &.bottom-quote-icon {
  //    bottom: -5px;
  //    right: 0;
  //  }
  //}
}
