section {
  max-width: 1200px;
  margin: 0 auto;
  .img-block {
    height: 400px;
    margin-bottom: 50px;
    background-image: url("/assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}
