// colors
$orange: #eb592f;
$white: #ffffff;
$lightOrange: #fdf2ee;
$blue: #42ade3;
$mainColorLight: #b4c0c4;
$darkGray: rgba(0, 0, 0, .54);
$tableBorderColor: #8a979d;
$tableBgRowColor: #f5f5f5;
$tableBgRowHover: #e3f4fc;
$tableBgDetailRow: #f0f4f7;
